<div class="teacher-container">
    <h2>Teacher List</h2>
    <div *ngIf="teachers.length===0" class="no-teachers">
        <p>No teachers available.</p>
        <button (click)="toogleDetails()">
            {{ showDetails ? 'Hide Details' : 'showDetails' }}
        </button>
    </div>
    <!-- <ul *ngIf="teachers.length > 0; else noTeachers">
        <li *ngFor="let teacher of teachers">
            <strong>{{ teacher.fullName }}</strong>
            subject:{{ teacher.subject }}
            Experience:{{ teacher.yearsOfExperience }} years
            Contact:{{ teacher.contactNumber }}
            Email:{{ teacher.email }}
       
        </li> -->
        <div *ngFor="let teacher of teachers" class="teacher-card">
            <h3>{{ teacher.fullName }}</h3>
            <p><strong>ID:</strong> {{ teacher.teacherId}}</p>
            <p><strong>subject:</strong> {{ teacher.subject }}</p>
            <p><strong>Contact:</strong> {{ teacher.contactNumber }}</p>
            <p><strong>Email:</strong> {{ teacher.email }}</p>
            <p><strong>Experience:</strong> {{ teacher.yearsOfExperience }} years</p>
    </div>
    </div>
    
    <!-- <ng-template #noTeachers>
        <p>No Teachers available</p>
    </ng-template> -->

