<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student Details</h2>
    <label>Student ID:</label>
    <p>{{student.studentId}}</p>
    <label>Full Name:</label>
    <p>{{student.fullname}}</p>
    <label>Date of Birth:</label>
    <p>{{student.dateOfBirth}}</p>
    <label>Contact Number:</label>
    <p>{{student.contactNumber}}</p>
    <label>Email:</label>
    <p>{{student.email}}</p>
    <label>Address:</label>
    <p>{{student.address}}</p>
    <button (click)="logStudentAttributes()">Submit</button>
</body>
</html>