<form [formGroup]="teacherForm" (ngSubmit)="onSubmit()" class="form-container">
      
        <input type="hidden" formControlName="teacherId">
    
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" formControlName="fullName" />
            <div *ngIf="teacherForm.get('fullName')?.invalid && teacherForm.get('fullName')?.touched" class="error-message">
                Full Name is required.
            </div>
    

     
            <label for="contactNumber">Contact Number:</label>
            <input type="text" id="contactNumber" formControlName="contactNumber" />
            <div *ngIf="teacherForm.get('contactNumber')?.invalid && teacherForm.get('contactNumber')?.touched"
                class="error-message">
                Contact Number must be 10 digits.
            </div>
    


            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" />
            <div *ngIf="teacherForm.get('email')?.invalid && teacherForm.get('email')?.touched" class="error-message">
                A valid email is required.
            </div>

            <label for="subject">Subject:</label>
            <input type="text" id="subject" formControlName="subject" />
            <div *ngIf="teacherForm.get('subject')?.invalid && teacherForm.get('subject')?.touched" class="error-message">
                Subject is required.
            </div>


        
            <label for="yearsOfExperience">Years of Experience:</label>
            <input type="number" id="yearsOfExperience" formControlName="yearsOfExperience" />
            <div *ngIf="teacherForm.get('yearsOfExperience')?.invalid && teacherForm.get('yearsOfExperience')?.touched"
                class="error-message">
                Minimum  year of experience is required.
            </div>

   
        <button type="submit">Submit</button>
        <button type="button" (click)="resetForm()">Reset</button>
        <p *ngIf="successMessage" class="success-message">{{ successMessage  }}</p>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>

  

