<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Teacher Details</h2>
    <label>Teacher ID:</label>
    <p>{{teacher.teacherId}}</p>
    <label>Full Name:</label>
    <p>{{teacher.fullname}}</p>
    <label>Subject:</label>
    <p>{{teacher.subject}}</p>
    <label>Contact Number:</label>
    <p>{{teacher.contactNumber}}</p>
    <label>Email:</label>
    <p>{{teacher.email}}</p>
    <label>Years of Experience:</label>
    <p>{{teacher.yearsOfExperience}}</p>
    <button type="button" (click)="logTeacherAttributes()">Submit</button>
</body>
</html>